* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
padding: 0;

}


/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
    
/* HEADER-NAV */
.container {
    width: 650px;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #242041;
    

}
.container a{
    color: #ffff;
}

nav l1 { 
    padding: 20px;

}


.container li {
    

    list-style: none;
}


/* PROFILE-FACE */

main {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.data {
    
    padding: 20px;
}

.info_me {
    
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.info {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;

}

.img-profile img {
    width: 350px;
    height: 500px;
    border-radius: 50%;


}


/* =========================================== */
.skills {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
   


}

.skills img {
   
    width: 10rem;

}

/* PROYECTS --------------------------- */
.proyects {
    align-items: center;
}



.proyects img {
    width: 610px;
}

/* footer======================*/
footer {

    background-color: #242041;
    text-align: center;
    width: 650px;
    

}

.social-icons {
    justify-content: center;
    padding: 20px;
    width: 600px;
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    


}

.social-icons a {
   
    border-radius: 50%;
    align-items: center;
    background-color: 
    #D2C10B;
    padding: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    
}
box-icon{
    padding-top: 1px;
    width: 40px;
   
    
}
    
  }
  

  /* ======================================================== */
  /* Estilos para pantallas más grandes (escritorio) */
  @media screen and (min-width: 768px) {
    /* HEADER-NAV */
.container {
   
   padding: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #242041;
   
    

}
.container a{
    color: #ffff;
}

nav l1 { 
    padding-left: 70px;

}

.container li {
    list-style: none;
}


/* PROFILE-FACE */

main {
   
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
  

}

.data {
   
    padding: 20px;
    border: 1px solid red;
}

.info_me {
    border: 1px solid red;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;

}


.info {
    border: 1px solid red;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;

}

.img-profile img {
    width: 300px;
    border-radius: 50%;


}


/* =========================================== */
.skills{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: auto;
    
    
}
.skillsimg {
   
    padding: 20px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
   
   


}

.skills img {
    border: 1px solid red;
   
    width: 10rem;

}

/* PROYECTS --------------------------- */
.proyects {
    border: 1px solid red;
    align-items: center;
}





/* footer======================*/
footer {

    border: 1px solid red;
    background-color: #242041;
    text-align: center;
   
    

}

.social-icons {
    justify-content: center;
    padding: 20px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    


}

.social-icons a {
   
    border-radius: 50%;
    align-items: center;
    background-color: 
    #D2C10B;
    padding: 20px;
    display: inline-block;
    width: 40px;
    border: 1px solid red;
    height: 40px;
    
}
box-icon{
    padding-top: 1px;
    width: 40px;
    border: 1px solid red;
   
    
}
    
  }
  

/* colores

#D2C10B --dorado
blanco--FCFCFC
azul--242041
*/